<a href="https://colab.research.google.com/github/Abdulrahman0044/Ayra-AI-Class/blob/main/class1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a = 10

print(a)

10

In [ ]:
print("hello world")

hello world

In [ ]:
print('hello world')

hello world

In [ ]:
# Addition operation (+)
b = 34
c = 24

x = b + c
print(x)

58

In [ ]:
# Subtraction operation (-)
x = 5
y = 37

m = y-x
print(m)

32

In [ ]:
# Multiplication operation (*)

i = 0
j = -1

p = i*j
print(p)

0

In [ ]:
# Division operation (/)

d = 35
e = 8

r = d/e
print(r)

4.375

In [ ]:
# Modulo operation

u = 45
v = 5

l = u/v
g = u%v

print(l)
print(g)

9.0
0

# Data Types in Python

In [ ]:
# There are three main data types in Python and these are

# Integer
# Float
# String

# Integers are real numbers. Negative, 0 and Positive
# Examples are -8, 0, 7, 67, -45

# Wrong denotions of integers: "78", '-2' (not integers)

integer_number = 12 # int integer_number = 12
y = 0
print(type(integer_number)) # type() is used to check data types of a variable
print(type(y))

<class 'int'>
<class 'int'>

### Float Data Type

In [ ]:
# Float are numbers with decimal points. Float numbers are denoted as {num.num}
# Examples are 1.0, 3.5, 7.9076, -20.98

# Wrong denotions for float numbers: "34.98", "789.563" (not floats)

house_number = 23.98
print(type(house_number))

friends = 4.5
print(type(friends))

<class 'float'>
<class 'float'>

In [ ]:
turtle_neck = 45.78
print("The data type for turtle neck is: ", type(turtle_neck))

The data type for turtle neck is:  <class 'float'>

### String Data Type

In [1]:
# Strings are characters enclosed with quotation marks. Either a single quote or double quote.

# Examples are : "Mother", "45", 'float', '45.12'

# Wrong denotions for strings: 45, 67.9, 78!, !mummy

youth = "Shaurya"
print(type(youth))

<class 'str'>